<img src="/sof_logo.png" width="200" height="150" alt="Shards of Faerie"></img>

<p>
  Welcome! Shards of Faerie is a set of small, experimental games,
  around the theme of Faeries as creatures of perception. For now,
  you'll need to <%= link_to("log in", new_user_session_path) %> or
  <%= link_to("create an account", new_user_registration_path) %> to play.
</p>

<div class="chat">
</div>
