<p>
  All around, everything is green. Everything glows softly. It's hard
  to know what you are, and even harder to care.
</p>

<ul>
  <li><button class='action-button' click-action='entwined'>There might be a thickening in the green</button></li>
  <li>...</li>
</ul>
