<p>
  There are several awarenesses here. They are all, in some way, you.
</p>

<p>
  You are also floating in greenness, still. You feel <i>aware</i> in several different places. Some of those
  awarenesses are floating in the Green.
</p>

<p>
  <a class='action-button' click-action='reach_out_one' click-action-args='<%= @current_character.name %>' href='#'>Reach out to one 'somebody?'</a>
</p>

<p>
  Reach out to a different 'somebody?'
  <% @characters.each do |char| %>
    <a class='action-button' click-action='reach_out_one' click-action-args='<%= char.name %>' href='#'>To <%= char.name %>?</a>
  <% end %>
 </p>

<p>
  <a class='action-button' click-action='thickening_in_green' href='#'>Let your mind drift into the green?</a>
</p>
