<p>
  All around, everything is green. Everything glows softly. It's hard
  to know who or what you are, and even harder to care.
</p>

<p>
  <a class='action-button' click-action='thickening_in_green' href='#'>There might be a thickening in the green</a>
</p>
