<p>
  There is a... somebody. It isn't <i>you</i> exactly. But it certainly isn't <i>not</i>-you.
</p>

<p>
  You might still be floating in greenness. You feel <i>aware</i> in several different places. Some of them
  definitely feel like floating in the Green.
</p>

<p>
  <a class='action-button' click-action='reaching_out' href='#'>Reach out to this 'somebody?'</a>
</p>

<p>
  <a class='action-button' click-action='thickening_in_green' href='#'>Let your mind drift into the green?</a>
</p>
